.resolveStatus{
    background-color: #006f14;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
}
.unresolveStatus{
    background-color: #d53434;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
}
.pendingStatus{
    background-color: #e0e319;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 5px;
}